footer {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  width: 100%;
  margin-top: 2rem;
}
.footer-redes {
  background-color: #363431;
  color: #f89231;
  font-size: 100%;
}
.inst {
  padding-right: 1rem;
}
.perinst {
  color: #ffffff;
  font-size: 150%;
}
.instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.copyr {
  text-align: center;
  color: #ffffff;
  font-size: 120%;
  padding-bottom: 1rem;
}
