footer {
  background: rgba(0, 0, 0, 0.45);
  bottom: 0;
  width: 100%;
  margin-top: 2rem;
  color: #ffffff;

  .instagram {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    .imginst {
      width: 70%;
    }

    .perinst {
      color: yellow;
      font-size: 130%;
      padding-top: 1rem;
    }
  }
  .copyr {
    text-align: center;
    font-size: 100%;
    padding-bottom: 1rem;
  }
}
