.galeria {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .img {
    margin: auto;
    margin-bottom: 1.5rem;
    border-radius: 10px;
  }
}
.img:hover {
  transform: scale(1.03);
  transition: all 300ms ease-in-out;
  box-shadow: 5px 5px 20px rgba(0.5, 0, 0, 0.6);
}
